/storage/*
/node_modules
/yarn-error.log
/public/assets
.byebug_history
/config/master.key
.DS_Store
.editorconfig
db/*.sqlite3
db/*.sql
db/*.bz2
sqlite3/*
log/*.log
log/*.csv
log/*.sql
log/*.txt
data/*.tsv
.sass-cache/
public/thumbs/*.png
*sublime*
public/sitemap*
public/assets/*
public/assets_/*
shared/*
releases/*
.idea
.rsync_cache
ERD.pdf
*.dump.sql
nbproject
# config/database.yml
.rbenv-version
vendor/bundle/*
.env
.tags
.test_queue_stats
*.pyc
