#tip_wrap
  font-size: 16px
  line-height: 24px
  h2
    font-size: 2.2rem
    padding: 15px 0
  h3
    font-size: 1.6rem
    padding: 15px 0
  .cp_embed_wrapper
    padding: 15px 0
  .code_ray_wrap
    padding: 15px 0
  p
    line-height: 28px
  p > strong
    font-weight: 800
    background: rgb(76, 122, 165)
    padding: 2px
