.sns_links
  .sns_link
    %a.twitter-share-button{"data-show-count" => "false", :href => "https://twitter.com/share?ref_src=twsrc%5Etfw"} Tweet
    %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
  .sns_link
    %a.hatena-bookmark-button{"data-hatena-bookmark-layout" => "basic-counter", :href => "http://b.hatena.ne.jp/entry/", :title => "このエントリーをはてなブックマークに追加"}
      %img{:alt => "このエントリーをはてなブックマークに追加", :height => "20", :src => "https://b.st-hatena.com/images/entry-button/button-only@2x.png", :style => "border: none;", :width => "20"}/
    %script{:async => "async", :charset => "utf-8", :src => "https://b.st-hatena.com/js/bookmark_button.js", :type => "text/javascript"}
  .sns_link
    %a.pocket-btn{"data-lang" => "en", "data-pocket-count" => "horizontal", "data-pocket-label" => "pocket"}
    :javascript
        !function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");
