.bodyContent
  %section.mv
    .wrap
      %p.mv__logo
        = image_tag("tips/logo.svg", width: 220)
      %h1.mv__copy
        「あの処理JavaScriptで書く時どうするんだっけ？」
        %br/
        を解決するJavaScriptのtips集
  %main.mainContent
    .wrap
      %ul.panels
        - @tips.each do |tip|
          %li.panel
            = link_to tip_path(tip), class: 'panel__wrap' do
              %h2.panel__index
                = tip.title
  %footer.siteFooter
    .wrap
      %ul.siteFooter__sns
        %li.tw
          %a.icon-twitter{:href => ""}
      .siteFooter__copy
        (c) Tips_room.js All.righTs  reserved.
  %i.siteBg
